body {
  background-color: #e1e1e1;
  font-family: "Open Sans", sans-serif; }

section.nav {
  background-color: #0060ae;
  margin-bottom: 0; }
  section.nav h1 {
    margin-left: 100px;
    font-family: "Nunito", sans-serif; }
    section.nav h1 .black {
      color: black; }
    section.nav h1 .green {
      color: #95ec48; }

#scene {
  position: relative;
  top: -60px;
  left: -40px;
  z-index: 1040; }

section.intro {
  background-color: #0087c2;
  background: linear-gradient(to bottom, #0087c2, #004e92);
  height: 290px;
  color: white; }
  section.intro h1 {
    margin-top: 90px;
    font-family: "Nunito", sans-serif; }
  section.intro h2 {
    font-family: "Open Sans", sans-serif; }

section.content {
  margin-top: 20px; }
  section.content .content {
    background-color: white;
    border-radius: 5px;
    padding: 40px 0;
    text-align: center; }

#mc_embed_signup {
  background: white;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif; }
  #mc_embed_signup form {
    padding-left: 0;
    text-align: center; }
  #mc_embed_signup input.email, #mc_embed_signup input.button {
    width: 160px;
    margin: 10px auto;
    min-width: 160px; }
